<div class="row">

  <div class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 margin-bottom-20px">
    <div class="col-sm-3 col-xs-6">
      <div class="text-center stage-block">
        <strong>1. <%= t('address') %> </strong>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="text-center stage-block">
        <strong>2. <%= t('shipment') %></strong>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="bg-info text-center stage-block">
        <strong>3. <%= t('payment') %></strong>
      </div>
    </div>
    <div class="col-sm-3 col-xs-6">
      <div class="text-center stage-block">
        <strong>4. <%= t('confirm') %></strong>
      </div>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-8 col-sm-8 col-xs-12 margin-bottom-20px">
    <%= form_for :checkout, url: checkout_review_path, method: :get, id: "payment-form" do |f| %>
      <div id="dropin-container"></div>

      <div class="form-group pull-right">
        <%= f.submit value: "#{t('select_payment')} >", id: "paymentFormButton", class: "btn btn-default btn-success" %>
      </div>

    <% end %>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 margin-bottom-20px">
    <%= render 'helpers/cart_total', cart: @cart %>
  </div>
</div>

<script>

  braintree.setup('<%= @payment.token %>', 'dropin', {
    container: 'dropin-container',
    onError: function (payload) {
        console.log(payload);
        if (payload.type === 'VALIDATION') {
            // re-enable button
            $('#paymentFormButton').removeAttr('disabled');
            $('#paymentFormButton').prop('value', "<%= "#{t('select_payment')}" %> >");
        }
    }
  });

</script>
