<div class="row">

  <div class="col-md-offset-1 col-md-7 col-sm-8 col-xs-12 margin-bottom-20px">
    <div class="col-xs-4">
      <div class="text-center stage-block">
        <strong>1. <%= t('address') %> </strong>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="bg-info text-center stage-block">
        <strong>2. <%= t('shipment') %></strong>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-center stage-block">
        <strong>3. <%= t('payment') %></strong>
      </div>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-8 col-sm-8 col-xs-12 margin-bottom-20px">
    <div class = "col-sm-12">
      <h4><%= t("select_shipping") %></h4>
    </div>

    <%= form_for :checkout, url: checkout_payment_path, method: :get, html: { class: "form-horizontal" } do |f| %>

      <div class="form-group col-md-12">
        <% @shippings.each_with_index do |s, i| %>
          <%= f.radio_button :shipping_id, s.id, :checked => i==0 ? true : false %>
          <%= f.label "shipping", "#{s.name} - #{pretty_money s.cost_of_shipping(@cart)} + VAT #{Marketcloud.configuration.application.tax_rate}%" %>
        <% end %>
      </div>


      <div class="col-sm-12 col-xs-12">
        <div class="form-group pull-right">
          <%= f.submit value: "#{t('select_shipping')} >", class:"btn btn-success" %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="col-md-3 col-sm-4 col-xs-12 margin-bottom-20px">
    <%= render 'helpers/cart_total', cart: @cart %>
  </div>
</div>
