<%= meta_tag(:title, @product.meta['title']) unless @product.meta.nil?  %>
<%= meta_tag(:description, @product.meta['description']) unless @product.meta.nil? %>
<%= meta_tag(:keywords, @product.meta['keywords']) unless @product.meta.nil? %>

<% variant = (@product.has_variants && @variant_id) ? @product.variants.select { |v| v.id == @variant_id }.first : @product %>

<div class="row" itemscope itemtype="http://schema.org/Product">
  <h1 style="border-bottom: 1px #EEE solid; padding-bottom: 10px;" class="text-center" itemprop="name"><%= "#{variant.name}" %></h1>
  <div class="col-md-offset-1 col-md-3 col-sm-6 col-xs-12 img-for-product margin-bottom-20px">

    <%= link_to image_tag(variant.images.first, class:"img-responsive img-selected center-block", alt: "#{variant.name}", data: { itemprop: "image"}), "#",
        class: "thumbnail", data: {
              image_id:"", toggle:"modal",  title:"#{variant.name}",
              image:"#{variant.images.first}",
              target:"#image-gallery"} %>

    <% if variant.images.length > 1 %>
      <div class="row row-centered">
        <% variant.images.each do |image| %>
          <div class="col-sm-3 col-xs-2 col-centered">

            <%= link_to image_tag(image, class:"img-responsive img-selected center-block"), "#",
                class: "thumbnail", data: {
                      image_id:"", toggle:"modal", title:"#{variant.name}",
                      image:"#{image}",
                      target:"#image-gallery"} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <ul class="list-unstyled">
      <% if @product.has_variants %>

        <%= form_for :variant, url: product_path, method: :get, html: { id: "switchVariant" } do |f| %>
          <% @product.variantsDefinition.each do |k, var| %>
            <div class="form-group">
              <%= f.label "#{k}: " %> <%= f.select(k.downcase, var, {selected: variant.send(k.downcase)}, onChange: "$('#switchVariant').submit()") %>
            </div>
          <% end %>
        <% end #form %>

      <% end %>

      <li class="margin-bottom-20px"><%= t('price') %>:
        <span style="color:red; font-size: 1.2em;" itemprop='price'><%= pretty_money variant.price %></span><%= print_vat(:products) %>
      </li>

      <li class="margin-bottom-20px" itemprop="availability" href="http://schema.org/InStock">
        <%= if variant.respond_to? :stock_status; t(variant.stock_status) end %>
      </li>


      <%= form_for :cart, url: cart_add_path, method: :patch do |f| %>
        <% if @product.has_variants %>
          <%= f.hidden_field :product_id, value: variant.product_id %>
          <%= f.hidden_field :variant_id, value: variant.id %>
        <% else %>
          <%= f.hidden_field :product_id, value: variant.id %>
        <% end %>

        <%= f.hidden_field :quantity, value: 1 %>

        <li class="form-group">
          <%= f.submit value: t('add_to_cart'), data: { disable_with: t('wait')}, class: "btn btn-default btn-success", id: 'add_to_cart' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <ul class="list-unstyled">
      <li><h4><%= t('product_details') %></h4></li>
      <li itemprop="description"><%= if variant.description; variant.description.html_safe; end %></li>
    </ul>
  </div>

</div>

<%= render "helpers/product_images" %>
